@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
body{
    min-height: 350px;
    min-width: 300px;
    background-color: #fcf0cf !important;
}
h3{
    text-align: center;
    margin-top: 10px;
}
.copy:hover{
    cursor: pointer;
}

.head-title{
    font-family: 'Chelsea Market', cursive;
}

.codeHolder{
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}